/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5-nov-2017, 22:37:28
    Author     : nickd_000
*/
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  text-decoration: none;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;cursor: pointer}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  text-decoration: none;
}

#form div {
    width:400px;
}

#form div label{
    width:150px;
    float:left;
	font-family:tahoma;
	padding:4px;
	margin:4px;
}
#form div input{
    width:150px;
    float:left;
	padding:4px;
	margin:4px;
	font-size:16px;
}
#form div textarea {
    width:100%;
    float:left;
    border-radius: 8px;
    width: 100%;
    height: 120px;
    border: 3px solid #cccccc;
    padding: 5px;
    font-family: Tahoma, sans-serif;
}

.measure {
    width:100%;
    float: left;
}

#chartdiv {
    float:left;
}

.btn, .btn a {
  background: #39454d;
  background-image: -webkit-linear-gradient(top, #39454d, #2980b9);
  background-image: -moz-linear-gradient(top, #39454d, #2980b9);
  background-image: -ms-linear-gradient(top, #39454d, #2980b9);
  background-image: -o-linear-gradient(top, #39454d, #2980b9);
  background-image: linear-gradient(to bottom, #39454d, #2980b9);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 6px 12px 6px 12px;
  text-decoration: none;
}

.btn:hover {
  background: #404e57;
  background-image: -webkit-linear-gradient(top, #404e57, #3a87ba);
  background-image: -moz-linear-gradient(top, #404e57, #3a87ba);
  background-image: -ms-linear-gradient(top, #404e57, #3a87ba);
  background-image: -o-linear-gradient(top, #404e57, #3a87ba);
  background-image: linear-gradient(to bottom, #404e57, #3a87ba);
  text-decoration: none;
}